{% extends 'task1_app/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <h2>Всем привет! Я - Эмиль Камбаров.</h2><br>
    <h3>Немного информации обо мне:</h3><br>
        <div>
            <ul><h4>Закончил СПбГУЭиФ по специальности "Математические методы в экономике".</h4></ul><br>
            <ul><h4>Отработал несколько лет аудитором в компаниях "большой четвёрки".</h4></ul><br>
            <ul><h4>В настоящее время работаю с финансовыми моделями, финансовым анализом и бизнес-планированием.</h4></ul><br>
            <ul><h4>Параллельно учусь в GeekBrains на разработчика.</h4></ul><br>
            <ul><h4>Обожаю футбол во всех его проявлениях: играть (вживую, не в FIFA или PES), смотреть:-)</h4></ul>
    </div>
{% endblock %}