{% extends 'task1_app/base_games.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div class="container">
        {% for article in articles %}
            {% if article.is_published %}
                <h2>{{ article.author.full_name }}</h2>
                <h3>{{ article.title }}</h3>
                <p>{{ article.get_summary }}</p>
                <p>Дата публикации: {{ article.publication_date}}</p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}


